root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{js,jsx,ts,tsx,json,yaml,yml,html,css,scss,md}]
indent_style = space
indent_size = 2

[*.{py,rs,toml}]
indent_style = space
indent_size = 4

[Makefile]
indent_style = tab
